<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>We provide this email to inform you of your current position in the waiting list : you are N° <%= @position %></p>
    <p>Please confirm that you are still interested in joining our coworking space, otherwise your request will be removed from the waiting list.</p><br>
    <p>You can confirm clicking the link below :</p>
    <p><%= @btn_url %></p><br>
    <p>Many thanks,</p><br>
    <p>HexaGoWorking team</p>
    </p>
  </body>
</html>
