<div class="home-cntnr">
  <h1>Get inspired and get to work.</h1>
  <h3>We offer creative working environments with a unique entrepreneurial spirit.</h3>
  <li class="cta-btn">
    <%= link_to "BOOK A PLACE!", new_user_registration_path, class: "nav-link" %>
  </li>
</div>
