@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import 'base';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import 'devise/registrations/new';
@import 'welcome/index';
@import 'bookings/index';
@import 'users/dashboard';
@import 'rooms/index';

header {
  .header-logo {
    width: 2em;
    margin-right: .4em;
  }

  .navbar-brand, .nav-link {
    color: white;
  }

  .navbar-nav {
    li {
      a:hover {
        color: white;
      }
    }

    li:last-of-type{
      right: 2em;
      position: absolute;
      width: 10em;

      a {
        padding-left: 1em;
        padding-right: 1em;
        text-align: center;
        background: $secondary;
      }

      a:hover {
        background: $fourth!important;
      }
    }
  }

  .navbar {
    background: $primary;
  }

}

.reconfirm {
  text-align: center;

  padding-top: 4em;

  img{
    width: 15em;
  }
}
