.list-cntnr {
  border: 1px solir red;
  text-align: center;

  .title {
    padding: 1.4em;
  }

  .lists-cntnr {
    margin: 0 10%;
    vertical-align:top;
    overflow: hidden;
    width: 80%;

    tr {

      th {
        padding: 2em;
        background: $grey;
        border: 1px solid $grey;
      }

      td {
        padding: 2em;
        border: 1px solid $grey;

        img {
          width: 1.2em;
        }
      }
    }

  }
}
